{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["elementum-tools/lib/babel/plugin", {
      "alias": {
        "AvrsLanding": "src",
        "AvrsUI": "node_modules/avrs-ui/src"
      },
    }],
    "transform-runtime"
  ],
}
