{
  "presets": [
    "node7",
    "react"
  ],
  "plugins": [
    ["elementum-tools/lib/babel/plugin", {
      "alias": {
        "AvrsLanding": "src",
        "AvrsUI": "node_modules/avrs-ui/src"
      },
    }],
  ],
}
