html,
body {
  font-size: 100%;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
}

#container {
  height: 100%;
}
